<footer>
    <div class="footer " style="background-color:yellow;">
      <div class="container">
        <div class="row">
       
          <div class="col-md-12 border_top">
            <form class="news">
             <h3 style="color: black;">Subscribe to our job seeker list</h3>
              <input class="newslatter" placeholder="ENTER YOUR MAIL" type="text" name=" ENTER YOUR MAIL">
             
            </form>
          </div>
          
           

              </div>

            </div>
             <div class="container">
            <div class="copyright">
             
                <p style="color: black;">Copyright 2019 All Right Reserved By <a href="https://html.design/" style="color: black;">Free  html Templates</a></p>
              </div>
            </div>
          </div>
        </footer>
        <!-- end footer -->
        